.issue_item_container {
    margin: 0 auto;
    width: 100%;
    min-width: 300px;
    border-bottom: 1px solid #333;
    padding: 20px;
    margin : 10px ;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
        color: grey;
        margin-right: 30px;
    }

    ul {
        margin-left: auto;
        display: flex;
        flex-direction: row;
    }

    img {
        border-radius: 50%;
        width: 30px;
        height: 30px;
        margin-right: -15px;
        object-fit: cover;
        
    }

    &:hover {
        transform: translatex(2px);
    }
}