.issue_container {
    width: 95%;
    padding: 10px;
    border-radius: 8px;
    margin: 10px;
  
    h4 {
        padding-left: 20px;
    }
}

.issue_page {
    display: flex;
    gap: 20px;
}

.column1 {
  width: 65%;
  overflow-y: scroll;
}

.issue_section {
  height: 600px;
  padding: 0 15px;
}

.column2 {
  width: 35%;
  overflow-y: scroll;
}

.imminent_issue_section {
  height: 600px;
  min-width: 300px;
  padding: 0 15px;
}