.agenda_item {
  display: flex;
  align-items: center;
  background-color: white;
  width: 100%;
  min-width: 250px;
  margin: 5px;

  div {
    display: flex;
    margin: 20px 0px;
  }

  p {
    font-size: 0.75rem;
    color: grey;
    margin: 0 10px;
  }

  ul {
    display: flex;
    flex-direction: row;
    margin-left: auto;
  }

  img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    object-fit: cover;
  }

  h5 {
    font-size: 1.2em;
    margin: 0;
    text-align: left;
  }

  &:hover {
    transform: translatex(2px);
  }

  &__container {
    display: flex;
    align-items: center;
    background-color: white;
    border-bottom: 1px solid #333;
    width: 100%;
    min-width: 300px;
    margin: 5px;
  }

  &__icon {
    margin-right: 15px;
    flex: 1;
  }

  &__content {
    flex: 5;
    justify-content: flex-start;
    cursor: pointer;

    &:hover {
      color: gray;
    }

    h5 {
      text-decoration: underline;
    }
  }

  &__date {
    flex: 2;
    font-size: 12px;
  }

  &__info_container {
    flex: 2;
    display: flex;
    flex-direction: row;
    align-items: center;

    img {
      border-radius: 50%;
      width: 30px;
      height: 30px;
      object-fit: cover;
    }

    p {
      cursor: pointer;
      &:hover {
        color: black;
      }
    }
  }

  &__delete_button {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }

  &__caret {
    margin: 0 15px;
  }

  &__assignee_list {
    display: flex;
    flex-direction: row;
    padding-right: 30px;
  }
}
