$lightGray: #fafbfb;
$fontColor: #323d45;
$fontGray: #646f7c;
$white: #ffffff;
$sky: #00b8ff;
$navy: #02469d;

.cardWrap {
  display: flex;
  flex-direction: row;
  position: relative;
  margin: 5px 10px;
  padding: 20px;
  border: 1px solid $white;
  border-radius: 7px;
  background-color: $white;
  box-shadow: 1px 1px 5px 0.1px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  height: 60px;
  width: auto;
  justify-content: space-around;
  align-items: center;

  .cardHeaderWrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 20px;
  }

  .cardTitle {
    width: 90%;
    margin: 10px 0 5px 0;
    border: none;
    outline: 0;
    font-size: 14px;
    font-weight: 700;
    text-overflow: ellipsis;
    color: $fontColor;
  }

  .cardContent {
    height: 70px;
    border: none;
    outline: 0;
    resize: none;
    overflow: visible;
    font-size: 13px;
    font-weight: 300;
    color: $fontColor;
  }

  .imageList {
    margin-left: auto;
  }
}
