.container {
    display: flex;
    flex-direction: row;
    grid-row: auto;
    padding: 10px;
}

.column {
    height: 400px;
    width: 400px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 6px rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: auto;
    justify-content: center;
    text-align: center;
    
}

.movable_item {
    border-radius: 10px;
    background-color: #fff3f3;
    height: 100px;
    width: 170px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
}

.kanbanListWrap {
    width: 250px;

    top: 0; /* 띠 요소의 상단 위치 */
    left: 0; /* 띠 요소의 왼쪽 위치 */
    width: 100%; /* 띠 요소의 너비 */
    height: 7px; /* 띠 요소의 높이 */
    background-color: rgb(195, 244, 255); /* 띠 요소의 색상 */
    border-radius: 7px 0 0 7px;
}