.nav_container {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-style: solid;
  border-color: white white rgb(232, 232, 232) white;
  height: 50px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.nav_container a {
  margin-left: 10px;
  font-weight: 800;
  font-size: 30px;
}

a:hover {
  // color: #3baef1;
  text-decoration: none;
  color: #0077b6;
}

.btn_container{
  margin-bottom: 3px;
}

.logo {
  color: #00b4d8;
}
