.footer {
  color: black; /* Text color */
  text-align: center; /* Center text */
  padding: 20px 0; /* Vertical padding */
  position: relative; /* Relative positioning */
  width: 100%; /* Full width */
  background-color: #f8f8f8; /* Background color for better visibility */
}

.content p {
  margin: 0; /* Remove margin */
}
