.alert {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    border-radius: 10px;
    height: 48px;
}
 
.alert[data-alert-type="ASSIGNED"] {
    background-color: #ffeedd;
}
 
.alert[data-alert-type="PROGRESS"] {
    background-color: #eaeaff;
}
 
.alert[data-alert-type="COMPLETED"] {
    background-color: #ddffee;
}
 
.alert[data-alert-type="APPROVED"] {
    background-color: #ffeeff;
}
 
[data-color-scheme="dark"] .alert[data-alert-type="ASSIGNED"] {
    background-color: #000000;
}
 
[data-color-scheme="dark"] .alert[data-alert-type="PROGRESS"] {
    background-color: #000000;
}
 
[data-color-scheme="dark"] .alert[data-alert-type="COMPLETED"] {
    background-color: #000000;
}
 
[data-color-scheme="dark"] .alert[data-alert-type="APPROVED"] {
    background-color: #000000;
}
 
.alert-icon-wrapper {
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 12px;
    margin-right: 12px;
    height: 18px;
    width: 18px;
    user-select: none;
    cursor: pointer;
}
 
.alert-icon[data-alert-icon-type="ASSIGNED"] {
    color: #e69819
}
 
.alert-icon[data-alert-icon-type="PROGRESS"] {
    color: #433dfb
}
 
.alert-icon[data-alert-icon-type="COMPLETED"] {
    color: #2bbe1d
}
 
.alert-icon[data-alert-icon-type="APPROVED"] {
    color: #9f13c6
}
 
.inline-content {
    flex-grow: 1;
}

.name {
    padding-left: 20px;
}

.caret {
    margin: 5px 15px 0 15px;
  }